In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import time

In [13]:
df = pd.read_csv("litery-czas2.txt")

In [14]:
df

    a    czas: 1669883568.909073
0   b   czas: 1669883569.9139771
1   c   czas: 1669883570.9172354
2   d    czas: 1669883571.919477
3   e   czas: 1669883572.9227993
4   f   czas: 1669883573.9252052
5   g     czas: 1669883574.93042
6   h   czas: 1669883575.9361084
7   i   czas: 1669883576.9376025
8   j    czas: 1669883577.940784
9   k   czas: 1669883578.9449012
10  l   czas: 1669883579.9473703
11  ł   czas: 1669883580.9530644
12  m   czas: 1669883581.9556081
13  n   czas: 1669883582.9612026
14  o   czas: 1669883583.9658685
15  p   czas: 1669883584.9705377
16  r   czas: 1669883585.9765208
17  s   czas: 1669883586.9826722
18  t   czas: 1669883587.9853399
19  u   czas: 1669883588.9903429
20  w   czas: 1669883589.9929047
21  x   czas: 1669883590.9984226

In [15]:
literki=pd.read_csv("dane_02-12_09_32.txt")

In [16]:
literki

      -35616.457367106246  1669883563.1635656
0          -116718.349814        1.669884e+09
1          -163923.931774        1.669884e+09
2          -147323.380161        1.669884e+09
3          -111005.282261        1.669884e+09
4           -78333.100056        1.669884e+09
...                   ...                 ...
6402          4186.673161        1.669884e+09
6403         -2459.010031        1.669884e+09
6404         -6679.829271        1.669884e+09
6405         -3025.466761        1.669884e+09
6406           794.964566        1.669884e+09

[6407 rows x 2 columns]